<app-navbar></app-navbar>

  
  <!-- main dahsboard -->
  <main>
    <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>
      
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
    <div class="dashboard-container">
        <div class="card detail">
            <div class="detail-header">
                <h2>Ajout Machine</h2>
                <button routerLink="/admin/list-mach">List Machine</button>
            </div>
              <label>Nom:</label><br>
              <input [(ngModel)]="machine.name" name="name"><br>
              <label>description:</label><br>
              <input [(ngModel)]="machine.description" name="description"><br>
              <button (click)="ajouterMachine()">Ajouter une Machine</button>
        </div>
    </div>
  </main> 
                    
