<app-navbar></app-navbar>

  
  <!-- main dahsboard -->
  <main>
    <div class="dashboard-container">
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>
      
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
        <div class="card detail">
            <div class="detail-header">
                <h2>Ajout Produit</h2>
            </div>
              <label>Nom:</label><br>
              <input [(ngModel)]="produit.name" name="name"><br>
              <label>Image:</label><br>
              <input [(ngModel)]="produit.image" name="image"><br>
              <label>Quantite:</label><br>
              <input [(ngModel)]="produit.quantite" name="quantite"><br>
              <label>Matiere Premier:</label><br>
              <input [(ngModel)]="produit.matiere_Premier" name="matiere_Premier"><br>
              <button (click)="ajouterProduit()">Add Product</button>
        </div>
    </div>
  </main> 
                    
