<app-navbar></app-navbar>


  
  <!-- main dahsboard -->
  <main>
   
    <div class="dashboard-container">
        <div class="card detail">
          <div *ngIf="modi === true" class="alert alert-success">
            Le produit a été modifié avec succès.
          </div>
          <div *ngIf="modi === false" class="alert alert-danger">
            Une erreur est survenue lors de la modification du produit. Veuillez réessayer.
          </div>
            <div class="detail-header">
                <h2>Edit Produit</h2>
            </div>
            
            <form class="form" (submit)="onSubmit()">
                <div class="form-group">
                  <label for="name">Nom:</label><br>
                  <input type="text" class="form-control" id="name" name="name" [(ngModel)]="produit.name"><br>
                </div>
                <div class="form-group">
                  <label>Image:</label><br>
                  <input name="image" id="image" class="form-control" [(ngModel)]="produit.image"><br>
                </div>
                <div class="form-group">
                  <label>Quantite:</label><br>
                  <input name="quantite" id="quantite" class="form-control" [(ngModel)]="produit.quantite"><br>
                </div>
                <div class="form-group">
                  <label>Matière Première:</label><br>
                  <input name="matiere_Premier" id="matiere_Premier" class="form-control" [(ngModel)]="produit.matiere_Premier"><br>
                </div>
                <button type="submit" routerLink='admin/list-prod'>Edit Produit</button>
              </form>
             
              
        </div>
    </div>
  </main> 
                    
