<app-navbar></app-navbar>

  
  <!-- main dahsboard -->
  <main>
    
    <div class="dashboard-container">
      
        <div class="card detail">
          <div *ngIf="successMessage" class="alert alert-success">
            {{successMessage}}
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger">
          {{errorMessage}}
          </div>
            <div class="detail-header">
                <h2>Modifier Machine</h2>
            </div>
            
            <form class="form" (submit)="onSubmit()">
                <div class="form-group">
                  <label for="name">Nom:</label><br>
                  <input type="text" class="form-control" id="name" name="name" [(ngModel)]="machine.name"><br>
                </div>
                <div class="form-group">
                  <label>Etat:</label><br>
                  <input name="image" id="image" type="checkbox" class="form-control" [(ngModel)]="machine.etat"><br>
                </div>
                <div class="form-group">
                  <label>Description :</label><br>
                  <input name="description" id="description" class="form-control" [(ngModel)]="machine.description"><br>
                </div>
                <button type="submit">Modifier Machine</button>
              </form>
             
              
        </div>
    </div>
  </main> 
                    
