a.neumorphic {
    display: inline-block;
    aspect-ratio: 1/1;
    border: 0.5rem solid transparent;
    border-radius: 1rem;
    color: hsl(0 0% 10%);
    background: none;
    text-decoration: none;
    text-align: center;
    
    display: grid;
    place-content: center;
    gap: 1rem;
    
    --shadow: 
      -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
      .5rem .5rem 1rem hsl(0 0% 50% / .5);
    box-shadow: var(--shadow);
    outline: none;  
    transition: all 0.1s;
  }
  
  a.neumorphic:hover, a.neumorphic:focus-visible {
    color: hsl(10 80% 50%);
    transform: scale(1.1);
  }
  
  a.neumorphic:active, a.neumorphic.active {
    box-shadow:
      var(--shadow),
      inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
      inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);
    color: hsl(10 80% 50%);
  }
  
  a.neumorphic > i {
    font-size: 31px; /* Corrected unit */
  }
  
  a.neumorphic > span {
    font-family: system-ui, sans-serif;
    font-size: 16px; /* Corrected unit */
  }
  
  body {
    background-color: #e5e9f4;
    padding: 60px; /* Corrected unit */
  }
  
  h1 {
    text-align: center;
    color: hsl(0 0% 10%);
    font-family: system-ui, sans-serif;
    font-size: 3rem;
  }
  
  .buttons {
    display: grid;
    width: min(75rem, 50%);
    margin-inline: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
    gap: 2rem;
  }
  
  span a {
    text-decoration: none;
    color: black;
  }
  