<nav class="navbar">
  <h4>Abinject</h4>
  <img class="logo" alt="no avaible image" src="../../../assets/img/logo-2-1.png">
  <div class="profile">
    <img class="profile-image" alt="no avaible image" src="../../../assets/img/user.png">
    <p class="profile-name">{{username}}</p>   
    <span class="fas fa-sign-out-alt" (click)="logout()"></span>
  </div>
</nav>

<!-- sidebar -->
<input type="checkbox" id="toggle">
<label class="side-toggle" for="toggle"><span class="fas fa-bars"></span></label>

<div class="sidebar">
  <div class="sidebar-menu" routerLink="/dash">
    <span class="fas fa-clipboard-list"></span><a>Dashboard</a>
  </div>
  <div class="sidebar-menu" routerLink="/produit">
    <span class="fas fa-boxes"></span><a>Produit</a>
  </div>
  <div class="sidebar-menu" routerLink="/machine">
    <span class="fas fa-cogs"></span><a>Machine</a>
  </div>
  <div class="sidebar-menu" routerLink="/consommation">
    <span class="fas fa-battery-full"></span><a>Consomation</a>
  </div>
  <div class="sidebar-menu" routerLink="/rebut">
    <span class="fas fa-exclamation-triangle"></span><a>Rubut</a>
  </div>
  <div class="sidebar-menu" routerLink="/utilisateur">
    <span class="fas fa-user-friends"></span><a>Utilisateur</a>
  </div>

  <div class="sidebar-menu" routerLink="/parametres">
    <span class="fas fa-user"></span><a>Profile</a>
  </div>
</div>

  <!-- main dahsboard -->
  <main>
    <div class="dashboard-container">
      <!-- 4 cards top -->
      <div class="card total1" routerLink="/produit">
        <div class="info">
          <div class="info-detail">
            <h3>Produit</h3>
            <p>Nombre des Produits</p>
            <h2>{{nbproduits}} <span>Piece</span></h2>
          </div>
          <div class="info-image"><i class="fas fa-boxes"></i></div>
        </div>
      </div>

      <div class="card total2"  routerLink="/machine">          
        <div class="info">
          <div class="info-detail">
            <h3>Machines</h3>
            <p>Nombre des machines</p>
            <h2>{{nbMachine}} <span>Machines</span></h2>
          </div>
          <div class="info-image"><i class="fas fa-cogs"></i></div>
        </div>
      </div>

      <div class="card total3" routerLink="/utilisateur">
        <div class="info">
          <div class="info-detail">
            <h3>Utilisateur</h3>
            <p>Nombre des Utilisateurs</p>
            <h2>{{nbuser}} <span>Utilisateur</span></h2>
          </div>
          <div class="info-image"><i class="fas fa-user-friends"></i></div>
        </div>
      </div>

      <div class="card total4"  routerLink="/consommation">          
        <div class="info">
          <div class="info-detail">
            <h3>Consommation</h3>
            <p>Nombre des Consommations</p>
            <h2>{{nbConsommation}} <span>Consomation</span></h2>
          </div>
          <div class="info-image"><i class="fas fa-battery-full"></i></div>
        </div>
      </div>
      

      <!-- 2 cards bottom -->
      <div class="card detail" style="max-height: 700px;">
        <div class="detail-header">
          <h2>Tous les Produits</h2>
          <button><a href="/list-prod">See More</a></button>         
        </div>
        <table>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Qantité</th>
            <th>matiere_Premier</th>
            <th>Etat</th>
            <th>Actions</th>
        </tr>
        <ng-container *ngFor="let produit of produits; let i = index">
          <tr *ngIf="i < 3">
            <td>{{ produit.id }}</td>
            <td>{{ produit.name }}</td>
            <td>{{ produit.quantite }}</td>
            <td>{{ produit.matiere_Premier }}</td>
            <td>
              <span *ngIf="produit.etat == 2" class="status EnStock"><i class="fas fa-circle"> Terminé</i></span>
              <span *ngIf="produit.etat == 1" class="status presuqeFini"><i class="fas fa-circle"> En Cours de traitement</i></span>
              <span *ngIf="produit.etat == 0" class="status horsStock"><i class="fas fa-circle"> Aucun Traitement</i></span>
            </td>
            <td>
              <button class="custom-btn btn-edit" [routerLink]="['/edit-prod', produit.id]">Edit</button>
              <button class="custom-btn btn-2" (click)="deleteProduit(produit.id)" *ngIf="role === 'ADMIN'">Delete</button>
            </td>
          </tr>
        </ng-container>
        </table>
      </div>
      <div class="card customer">
        <h2>Pannes Machines</h2>
        <div class="customer-wrapper">
          <img class="customer-image" alt="no avaible image" src="../../../assets/img/user.png">
          <div class="customer-name">
            <h4>Mollitia rerum</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <p class="customer-date">Today</p>
        </div>
        <!-- T add more-->
        <div class="customer-wrapper">
          <img class="customer-image" alt="no avaible image" src="../../../assets/img/user.png">
          <div class="customer-name">
            <h4>Mollitia rerum</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <p class="customer-date">Today</p>
        </div>
        <div class="customer-wrapper">
          <img class="customer-image" alt="no avaible image" src="../../../assets/img/user.png">
          <div class="customer-name">
            <h4>Mollitia rerum</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <p class="customer-date">Yesterday</p>
        </div>
        <div class="customer-wrapper">
          <img class="customer-image" alt="no avaible image" src="../../../assets/img/user.png">
          <div class="customer-name">
            <h4>Mollitia rerum</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <p class="customer-date">Yesterday</p>
        </div>
        <div class="customer-wrapper">
          <img class="customer-image" alt="no avaible image" src="../../../assets/img/user.png">
          <div class="customer-name">
            <h4>Mollitia rerum</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <p class="customer-date">Yesterday</p>
        </div>

    </div>
  </div>
  </main>