
<nav class="navbar">
    <h4>Abinject</h4>
    <img class="logo" alt="no avaible image" src="../../../assets/img/logo-2-1.png">
    <div class="profile">
      <div class="notification-container">
        <span id="notificationIcon" class="fas fa-bell">
        <div id="notificationList" class="notification-list">
          <!-- Liste des notifications -->
          <ul>
            <li>Notification 1</li>
            <li>Notification 2</li>
            <li>Notification 3</li>
          </ul>
        </div>
      </span>
      </div>
      <input id="idsearchInput" type="text" placeholder="Search" class="form-label">
      <span class="fas fa-search"></span>
      <img class="profile-image" alt="no avaible image" src="../../../assets/img/photo-prof.png">
      <p class="profile-name">Feres Adouani</p>    
    </div>
  </nav>

  <!-- sidebar -->
  <input type="checkbox" id="toggle">
  <label class="side-toggle" for="toggle"><span class="fas fa-bars"></span></label>

  <div class="sidebar">
    <div class="sidebar-menu">
      <span class="fas fa-clipboard-list"></span><a href="/dashboard">Dashboard</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-boxes"></span><a href="/admin/produit">Produit</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-cogs"></span><a href="/admin/machine">Machine</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-battery-full"></span><a href="admin/consommation">Consomation</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-exclamation-triangle"></span><a>Rubut</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-user"></span><a>Utilisateur</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-cog"></span><a>Setting</a>
    </div>
  </div>

  <!-- main dahsboard -->
  <main>
    <div class="dashboard-container">
      <!-- 4 cards top -->
      <div class="card total1">
        <div class="info">
          <div class="info-detail">
            <a href="/admin/produit">
            <h3>Produit</h3>
            <p>Lorem ipsem dolor</p>
            <h2>1,873,250 <span>Piece</span></h2>
            </a>
          </div>
          <div class="info-image"><i class="fas fa-boxes"></i></div>
        </div>
      </div>

      <div class="card total2">          
        <div class="info">
          <div class="info-detail">
            <a href="/admin/machine">
            <h3>Machines</h3>
            <p>Lorem ipsem dolor</p>
            <h2>10,890 <span>Machines</span></h2>
          </a>
          </div>
          <div class="info-image"><i class="fas fa-cogs"></i></div>
        </div>
      </div>

      <div class="card total3">
        <div class="info">
          <div class="info-detail">
            <h3>Utilisateur </h3>
            <p>Lorem ipsem dolor</p>
            <h2>340 <span>Utilisateur</span></h2>
          </div>
          <div class="info-image"><i class="fas fa-user-friends"></i></div>
        </div>
      </div>

      <div class="card total4">          
        <div class="info">
          <div class="info-detail">
            <a href="/admin/consommation">
            <h3>Consommation</h3>
            <p>Lorem ipsem dolor</p>
            <h2>56 <span>Orders</span></h2>
          </a>
          </div>
          <div class="info-image"><i class="fas fa-shipping-fast"></i></div>
        </div>
      </div>

      <!-- 2 cards bottom -->
      <div class="card detail">
        <div class="detail-header">
          <h2>All Produit</h2>
          <button><a href="/admin/list-prod">See More</a></button>         
        </div>
        <table>
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Qantité</th>
            <th>Disponibilite</th>
            <th>Actions</th>
        </tr>
       @for (produit of produits; track produit) {
<tr>
        <td>{{ produit.id }}</td>
        <td>{{ produit.image }}</td>
        <td>{{ produit.name }}</td>
        <td>{{ produit.matiere_Premier }}</td> 
        <td><span class="status EnStock"><i class="fas fa-circle"> EN STOCK</i></span></td>
        <td> <button class="custom-btn btn-2" (click)="deleteProduit(produit.id)">Delete</button>
          <button class="custom-btn btn-2" [routerLink]="['/admin/edit-prod', produit.id]">Edit</button>
        </td>
       </tr>
}
        </table>
      </div>
      <div class="card customer">
        <h2>Pannes Machines</h2>
        <div class="customer-wrapper">
          <img class="customer-image" alt="no avaible image" src="https://pbs.twimg.com/media/EYt947jXYAY7So1.jpg:large">
          <div class="customer-name">
            <h4>Mollitia rerum</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <p class="customer-date">Today</p>
        </div>
        <!-- T add more-->
        <div class="customer-wrapper">
          <img class="customer-image" alt="no avaible image" src="https://pbs.twimg.com/media/ErVhH0YVoAEov_Q.jpg">
          <div class="customer-name">
            <h4>Mollitia rerum</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <p class="customer-date">Today</p>
        </div>
        <div class="customer-wrapper">
          <img class="customer-image" alt="no avaible image" src="https://pbs.twimg.com/media/ErXj7hSW8AckL_l.jpg">
          <div class="customer-name">
            <h4>Mollitia rerum</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <p class="customer-date">Yesterday</p>
        </div>
        <div class="customer-wrapper">
          <img class="customer-image" alt="no avaible image" src="https://64.media.tumblr.com/001bdb860de2ea9bc9cc21fc6988f13b/d66cbcd97ae5ebef-43/s540x810/2187a41e09b8d1096783e166d83fbabe1019d592.jpg">
          <div class="customer-name">
            <h4>Mollitia rerum</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <p class="customer-date">Yesterday</p>
        </div>
        <div class="customer-wrapper">
          <img class="customer-image" alt="no avaible image" src="https://yzgeneration.com/wp-content/uploads/2022/04/One_Piece_1015_3.webp">
          <div class="customer-name">
            <h4>Mollitia rerum</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <p class="customer-date">Yesterday</p>
        </div>

    </div>
  </div>
  </main>