<nav class="navbar">
    <h4>Abinject</h4>
    <img class="logo" alt="no avaible image" src="../../../assets/img/logo-2-1.png">
    <div class="profile">
      <div class="email-container">
        <span id="email" class="material-symbols-outlined"> <i class="fas fa-bell"></i> </span>
        <div class="email-dropdown-content">
            <span id="title">Messages</span>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
                <a href="#">Mark sent you a message</a>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
                <img src="../../../assets/img/photo-prof.png" alt="Profile Picture" class="email-profile-pic">
                <a href="#">Cregh sent you a message</a>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
                <img src="../../../assets/img/photo-prof.png" alt="Profile Picture" class="email-profile-pic">
                <a href="#">Profile picture updated</a>
            </div>
            <div class="dropdown-divider"></div>
            <span id="footer">4 new messages</span>
        </div>
    </div>
      <img class="profile-image" alt="no avaible image" src="../../../assets/img/photo-prof.png">
      <p class="profile-name">Feres Adouani</p>    
    </div>
  </nav>

  <!-- sidebar -->
  <input type="checkbox" id="toggle">
  <label class="side-toggle" for="toggle"><span class="fas fa-bars"></span></label>

  <div class="sidebar">
    <div class="sidebar-menu">
      <span class="fas fa-clipboard-list"></span><a href="/dashadmin">Dashboard</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-boxes"></span><a href="/admin/produit">Produit</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-cogs"></span><a href="/admin/machine">Machine</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-battery-full"></span><a href="/admin/consommation">Consomation</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-exclamation-triangle"></span><a href="/admin/rebut">Rubut</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-user"></span><a>Utilisateur</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-cog"></span><a>Setting</a>
    </div>
  </div>


  
  <!-- main dahsboard -->
  <main>
    <div class="dashboard">
        <div class="card detail">
            <div class="detail-header">
              <h2>Liste Produit</h2>  
            </div>
            <table>
              <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Etat</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
           @for (machine of machines; track machine) {
<tr>
            <td>{{ machine.id }}</td>
            <td>{{ machine.name }}</td>
            <td><span *ngIf="machine.etat; else horsStock" class="status EnStock">
              <i class="fas fa-circle"></i> EN Marche
            </span>
            <ng-template #horsStock>
              <span class="status horsStock">
                <i class="fas fa-circle"></i> En Panne
              </span>
            </ng-template></td>
            <td>{{ machine.description }}</td>
            <td><button class="custom-btn btn-2" (click)="deleteMachine(machine.id)">Delete</button>
                <button class="custom-btn btn-2" [routerLink]="['/admin/edit-mach', machine.id]">Edit</button></td>
           </tr>
}
            </table>
            </div>
    </div>
  </main>