<nav class="navbar">
    <h4>Abinject</h4>
    <img class="logo" alt="no avaible image" src="../../../assets/img/logo-2-1.png">
    <div class="profile">
      <div class="notification-container">
        <span id="notificationIcon" class="fas fa-bell"></span>
        <div id="notificationList" class="notification-list">
          <!-- Liste des notifications -->
          <ul>
            <li>Notification 1</li>
            <li>Notification 2</li>
            <li>Notification 3</li>
          </ul>
        </div>
      </div>
      <input id="idsearchInput" type="text" placeholder="Search" class="form-label">
      <span class="fas fa-search"></span>
      <img class="profile-image" alt="no avaible image" src="../../../assets/img/photo-prof.png">
      <p class="profile-name">Feres Adouani</p>    
    </div>
  </nav>

  <!-- sidebar -->
  <input type="checkbox" id="toggle">
  <label class="side-toggle" for="toggle"><span class="fas fa-bars"></span></label>

  <div class="sidebar">
    <div class="sidebar-menu">
      <span class="fas fa-clipboard-list"></span><a href="/dashadmin">Dashboard</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-boxes"></span><a href="/admin/produit">Produit</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-cogs"></span><a href="/admin/machine">Machine</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-battery-full"></span><a href="/admin/consommation">Consomation</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-exclamation-triangle"></span><a>Rubut</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-user"></span><a>Utilisateur</a>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-cog"></span><a>Setting</a>
    </div>
  </div>


  
  <!-- main dahsboard -->
  <main>
    <div class="dashboard">
        <div class="card detail">
            <div class="detail-header">
              <h2>Consommation</h2>  
            </div>
            <table>
              <tr>
                <th>ID</th>
                <th>Qantité</th>
                <th>Nom Produit</th>
                <th>Nom Machine</th>
            </tr>
            <tr *ngFor="let consommation of conso">
              <td>{{ consommation.id }}</td>
              <td>{{ consommation.quantite }}</td>
              <td>{{ consommation.nomProduit }}</td>
              <td>{{ consommation.nomMachine }}</td>
            </table>
            </div>
    </div>
  </main>
